body {
    margin: 0;
    padding: 0;
    font-family: 'GilroyRegular', normal;
    width: 100%;
    overflow: hidden;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
.fontB {
    font-family: 'Gilroy', normal;
}
.fontT {
    font-family: 'GilroyThin', normal;
}
.small {
    font-size: 9px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.plr {
    padding: 0 4%;
}
.ml {
    margin-left: 5rem;
}
header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
    /* margin-bottom: 300px; */
}
.header__form-input {
    width: 700px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
    padding: 5px 0 5px 20px;
}
#mainSearch {
    position: relative;
}
.header__form-img{
    position: absolute;
    height: 30px;
    top: 11px;
    right: 21px;
}
footer {
    width: 100%;
    position: relative;
}
.vector {
    width: 100%;
}
.sec {
    position: absolute;
    width: 100%;
    top: 70px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
footer input {
    border-radius: 10px;
    border: 0;
    height: 30px;
}
footer form {
    position: relative;
}
#followInp {
    background-color: #F3F3F3;
    width: 400px;
    height: 30px;
}
#followBtn {
    color: #fff;
    background-color: #F9B300;
    position: absolute;
    left: 320px;
}





@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url('fonts/GilroyBold.ttf') format('truetype');
    src: local('Gilroy'),
    url('fonts/GilroyBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'GilroyThin';
    src: local('GilroyThin'), url('fonts/GilroyThin.ttf') format('truetype');
    src: local('GilroyThin'),
    url('fonts/GilroyThin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'GilroyRegular';
    src: local('GilroyRegular'), url('fonts/GilroyRegular.ttf') format('truetype');
    src: local('GilroyRegular'),
    url('fonts/GilroyRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
