<form action="POST" id="addProduct">
    <input type="text" placeholder="Название продукта">
    <select name="type" id="">
        <option value="Свежеобжаренный кофе">Свежеобжаренный кофе</option>
        <option value="Чай и кофейные напитки">Чай и кофейные напитки</option>
        <option value="Здоровое питание">Здоровое питание</option>
    </select>
    <input type="text" placeholder="Описание товара">
    <button type="submit">Добавить</button>
</form>
<script src="../static/js/addProduct.js"></script>