<ul class="breadcrumb">
    <li><a href="/" class="small">Главная</a></li>
    <li><a href="/admin" class="current small">Админка</a></li>
 </ul>
<form method="POST" id="addProduct">
    <input type="text" placeholder="Название продукта">
    <select name="type" id="">
        <option value="Свежеобжаренный кофе">Свежеобжаренный кофе</option>
        <option value="Чай и кофейные напитки">Чай и кофейные напитки</option>
        <option value="Здоровое питание">Здоровое питание</option>
    </select>
    <input type="text" name="description" placeholder="Описание товара">
    <input type="number" name="cost" id="" placeholder="Стоимость продукта">
    <button type="submit">Добавить</button>
</form>
<script src="/js/addProduct.js"></script>