<ul class="breadcrumb">
    <li><a href="/" class="small">Главная</a></li>
    <li><a href="/admin" class="small" style="text-decoration: underline;">Админка</a></li>
 </ul>

<div class="admin__body">
    <div class="admin__banner plr">
        <h1 class="fontB admin__header">Добавьте товар</h1>
        <form method="POST" id="addProduct">
            <div class="admin__main">
                <input type="text" placeholder="Название продукта" class="addProduct-input" name="name">
                <select name="type" id="select">
                    <option value="Свежеобжаренный кофе">Свежеобжаренный кофе</option>
                    <option value="Чай и кофейные напитки">Чай и кофейные напитки</option>
                    <option value="Здоровое питание">Здоровое питание</option>
                </select>
                <input type="text" name="description" placeholder="Описание товара" class="addProduct-input">
                <input type="number" name="cost" placeholder="Стоимость продукта" step="1" class="addProduct-input">
                <button type="button" class="admin__btn">Добавить</button>
                <button type="submit" class="dn btnF">Send</button>
            </div>

            <div class="admin__coffee dn">
                <fieldset class="admin__fieldset">
                    <legend class="fontB">Выберите степень обжарки</legend>
                    <div class="fieldset_container">
                        <input type="radio" name="step" value="5" class="range" id="bean5" checked>
                        <label for="bean5">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                        </label>
                    </div>
                    <div class="fieldset_container">
                        <input type="radio" name="step" value="4" class="range" id="bean4">
                        <label for="bean4">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                        </label>
                    </div>
                    <div class="fieldset_container">
                        <input type="radio" name="step" value="3"  class="range" id="bean3">
                        <label for="bean3">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                        </label>
                    </div>
                    <div class="fieldset_container">
                        <input type="radio" name="step" value="2" class="range" id="bean2">
                        <label for="bean2">
                            <img src="/images/svg/bean.svg" alt="">
                            <img src="/images/svg/bean.svg" alt="">
                        </label>
                    </div>
                    <div class="fieldset_container">
                        <input type="radio" name="step" value="1" class="range" id="bean1">
                        <label for="bean1">
                            <img src="/images/svg/bean.svg" alt="">
                        </label>
                    </div>
                </fieldset>
                <div class="fieldset__container">
                    <div>
                        <fieldset>
                            <legend class="fontB fild_legend">География</legend>
                            <div class="fieldset__item1">
                                <div class="item">
                                    <input type="radio" name="country" value="Африка" class="range" id="africa" checked><label for="africa">Африка</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="country" value="Йемен" class="range" id="yemen"><label for="yemen">Йемен</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="country" value="Уганда" class="range" id="ugan"><label for="ugan">Уганда</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="country" value="Эфиопия" class="range" id="ephiop"><label for="ephiop">Эфиопия</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="country" value="Азия" class="range" id="asia"><label for="asia">Азия</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="country" value="Центр.Америка" class="range" id="centrAm"><label for="centrAm">Центр.Америка</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="country" value="Лат.Америка" class="range" id="latAm"><label for="latAm">Лат.Америка</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="odd">
                        <fieldset>
                            <legend class="fontB fild_legend2">Вид кофе</legend>
                            <div class="fieldset__item2">
                                <div class="item">
                                    <input type="radio" name="vid" value="Арабика" class="range" id="arabica" checked><label for="arabica">Арабика</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="vid" value="Робуста" class="range" id="robust"><label for="robust">Робуста</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="vid" value="Смесь арабик" class="range" id="smes"><label for="smes">Смесь арабик</label>
                                </div>
                                <div class="item">
                                    <input type="radio" name="vid" value="Смесь арабика/робуста" class="range" id="smesrob"><label for="smesrob">Арабика/Робуста</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="ex example-1">
                    <div class="form-group">
                        <label class="label">
                            <i class="material-icons">attach_file</i>
                            <span class="title">Добавить файл</span>
                            <input type="file" name="photo" id="photo">
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__tea dn">
                <select name="typeTea" id="select" style="width: 235px">
                    <option value="Черный чай">Черный чай</option>
                    <option value="Зеленый чай">Зеленый чай</option>
                    <option value="Молочный улунг">Молочный улунг</option>
                    <option value="Травяной чай">Травяной чай</option>
                    <option value="Матча">Матча</option>
                    <option value="Пуэр">Пуэр</option>
                    <option value="Кофейные напитки">Кофейные напитки</option>
                </select>
                <div class="example-1">
                    <div class="form-group">
                        <label class="label">
                            <i class="material-icons">attach_file</i>
                            <span class="title">Добавить файл</span>
                            <input type="file" name="photo" id="photo">
                        </label>
                    </div>
                </div>
            </div>
            <div class="admin__food dn">
                <select name="typeFood" id="select" style="width: 235px">
                    <option value="Цикорий и корень цикория">Цикорий и корень цикория</option>
                    <option value="Ячменные напитки">Ячменные напитки</option>
                    <option value="Напитки для здоровья">Напитки для здоровья</option>
                    <option value="Протеиновые смеси">Протеиновые смеси</option>
                    <option value="Толокняные каши">Толокняные каши</option>
                </select>
                <div class="example-1">
                    <div class="form-group">
                        <label class="label">
                            <i class="material-icons">attach_file</i>
                            <span class="title">Добавить файл</span>
                            <input type="file" name="photo" id="photo">
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <img src="/images/main/Vector.svg" alt="vector" class="admin-vector">

    <div class="products" style="margin-top: 200px;">
        
    </div>
</div>

<script src="/js/addProduct.js"></script>
<script src="/js/getData.js"></script>
<script>
    getData('all');

    const btn = document.getElementsByClassName("admin__btn");
    const btn_submit = document.getElementsByClassName("btnF")[0];
    const select = document.querySelector("#select");
    let admn_coffee = document.querySelector(".admin__coffee")
    let admn_tea = document.querySelector(".admin__tea");
    let admn_por = document.querySelector(".admin__food");
    let form = document.forms.addProduct;
    let aft = document.getElementsByClassName("admin__main");
    let header = document.getElementsByClassName("admin__header");

    const showFilter = function () {
        btn[0].classList.add('dn');
        let val = select.options[select.selectedIndex].value;
        if (val === "Свежеобжаренный кофе") {
            admn_coffee.classList.remove('dn');
            admn_coffee.classList.add('btnFs');
            admn_tea.classList.add("dn");
            admn_por.classList.add("dn");
            btn_submit.classList.add("admin__submit")
            btn_submit.classList.remove("admin__submit-food")
            btn_submit.classList.remove("admin__submit-tea")
        } else if (val === "Чай и кофейные напитки") {
            admn_coffee.classList.add('dn');
            admn_tea.classList.remove("dn");
            admn_por.classList.add("dn");
            btn_submit.classList.remove("admin__submit")
            btn_submit.classList.remove("admin__submit-food")
            // btn_submit.classList.add("admin__submit-food")
            btn_submit.classList.add("admin__submit-tea")
        } else {
            admn_coffee.classList.add('dn');
            admn_tea.classList.add("dn");
            admn_por.classList.remove("dn");
            btn_submit.classList.remove("admin__submit")
            btn_submit.classList.add("admin__submit-food")
            btn_submit.classList.remove("admin__submit-tea")
        }
    }
    btn[0].addEventListener("click", showFilter, false)
    select.addEventListener('change', (e) => {
        showFilter();
    });
</script>
