    <div class="catalog-body plr">
        <h1>{{title}}</h1>
        <div class="catalog__container">
            <div class="catalog__container-item">
                <img src="/images/main/coffee-stain.png" alt="Coffee" style="width: 250px">
                <h2>Свежеобжаренный кофе</h2>
                <a href="/" class="catalog-item__a">Перейти</a>
            </div>
            <div class="catalog__container-item">
                <img src="/images/main/coffee-glass-teapot.png" alt="Tea" style="height: 180px; width: 160px">
                <h2>Чай и кофейные напитки</h2>
                <a href="/" class="catalog-item__a">Перейти</a>
            </div>
            <div class="catalog__container-item catalog-item3">
                <img src="/images/main/porridge.png" alt="Porridge" style="width: 230px;">
                <h2>Здоровое питание</h2>
                <a href="/" class="catalog-item__a">Перейти</a>
            </div>
        </div>
    </div>