<h1>Свежеобжаренный кофе</h1>
<div class="catalog-body plr">
    <h2>Каталог товаров</h2>
    <div class="catalog__container">
        <div class="catalog__container-item">
            <img src="/images/main/coffee-stain.png" alt="Coffee" style="width: 250px">
            <h2>Свежеобжаренный кофе</h2>
            <a href="/catalog/" class="catalog-item__a">Перейти</a>
        </div>
        <div class="catalog__container-item">
            <img src="/images/main/coffee-glass-teapot.png" alt="Tea" style="height: 180px; width: 160px">
            <h2>Чай и кофейные напитки</h2>
            <a href="/catalog/" class="catalog-item__a">Перейти</a>
        </div>
        <div class="catalog__container-item catalog-item3" >
            <img src="/images/main/porridge.png" alt="Porridge" style="width: 230px;">
            <h2>Здоровое питание</h2>
            <a href="/catalog/" class="catalog-item__a">Перейти</a>
        </div>
    </div>
</div>
<div class="news plr">
    <h2>Новости компании</h2>
    <div class="news-grid">
        <div class="news-grid_first">
            <div class="news-container long">
                <img src="/images/main/image5.png" alt="img">
                <div class="news-long-text">
                    <h3>Танзанийский кофе. Откуда он взялся и почему мы его так любим?</h3> <br>
                    <p>Танзания – красивая африканская страна. Именно здесь расположены легендарные географические объекты – вулкан Килиманджаро и озеро Виктория. <br> <br> Но наш интерес вызван не столько природными красотами, сколько кофе...</p> <br>
                    <a href="" class="news-a"><span style="color: #F9B300;">Подробнее →</span></a>
                </div>
            </div>
            <div class="news-container short">
                <h3>Африканский кофе Кения АА</h3> <br>
                <p>Кения АА – у этого кофе, из африканской страны, репутация одного из самых вкусных и ярких сортов в мире. Многие обжарщики высоко оценивают местные разновидности высокогорной арабики.</p> <br>
                <a href="" class="news-a"><span style="color: #F9B300;">Подробнее →</span></a>
            </div>
        </div>
        <div class="news-grid_second">
            <div class="news-container short">
                <h3>Африканский кофе Кения АА</h3> <br>
                <p>Кения АА – у этого кофе, из африканской страны, репутация одного из самых вкусных и ярких сортов в мире. Многие обжарщики высоко оценивают местные разновидности высокогорной арабики.</p> <br>
                <a href="" class="news-a"><span style="color: #F9B300;">Подробнее →</span></a>
            </div>
            <div class="news-container long">
                <img src="/images/main/image5.png" alt="img">
                <div class="news-long-text">
                    <h3>Танзанийский кофе. Откуда он взялся и почему мы его так любим?</h3> <br>
                    <p>Танзания – красивая африканская страна. Именно здесь расположены легендарные географические объекты – вулкан Килиманджаро и озеро Виктория. <br> <br> Но наш интерес вызван не столько природными красотами, сколько кофе...</p> <br>
                    <a href="" class="news-a"><span style="color: #F9B300;">Подробнее →</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="news__container-svg vector">
        <img src="/images/svg/bezueLight.svg" alt="" class="news__svg vector">
        <div class="news__light"></div>
    </div>

    <div class="vector">
    <img src="/images/main/Vector.svg" alt="vector" class="vector-news vector">
    <div class="vector-news_div vector"></div>
    </div>



    <img src="/images/main/covered-coffee-bean.png" alt="" class="news__bean">
    <img src="/images/main/coffee-banner.png" alt="" class="news__cup">
</div>

