<div class="news plr">
    <h2 class="fontB">Новости компании</h2>
    <div class="news-grid">
        <div class="news-container long">
            <img src="/images/main/image5.png" alt="img">
            <div class="news-long-text">
                <h3>Танзанийский кофе. Откуда он взялся и почему мы его так любим?</h3> <br>
                <p>Танзания – красивая африканская страна. Именно здесь расположены легендарные географические объекты – вулкан Килиманджаро и озеро Виктория. <br> <br> Но наш интерес вызван не столько природными красотами, сколько кофе...</p> <br>
                <a href="" class="news-a"><span style="color: #F9B300;">Подробнее →</span></a>
            </div>
        </div>
        <div class="news-container short">
            <h3>Африканский кофе Кения АА</h3>
            <p>Кения АА – у этого кофе, из африканской страны, репутация одного из самых вкусных и ярких сортов в мире. Многие обжарщики высоко оценивают местные разновидности высокогорной арабики.</p> <br>
            <a href="" class="news-a"><span style="color: #F9B300;">Подробнее →</span></a>
        </div>
        <div class="news-container long">
            <img src="/images/main/image5.png" alt="img">
            <div class="news-long-text">
                <h3>Танзанийский кофе. Откуда он взялся и почему мы его так любим?</h3> <br>
                <p>Танзания – красивая африканская страна. Именно здесь расположены легендарные географические объекты – вулкан Килиманджаро и озеро Виктория. <br> <br> Но наш интерес вызван не столько природными красотами, сколько кофе...</p> <br>
                <a href="" class="news-a"><span style="color: #F9B300;">Подробнее →</span></a>
            </div>
        </div>
        <div class="news-container short">
            <h3>Африканский кофе Кения АА</h3>
            <p>Кения АА – у этого кофе, из африканской страны, репутация одного из самых вкусных и ярких сортов в мире. Многие обжарщики высоко оценивают местные разновидности высокогорной арабики.</p> <br>
            <a href="" class="news-a"><span style="color: #F9B300;">Подробнее →</span></a>
        </div>
    </div>
</div>