    <div class="banner plr">
        <h1 class="fontB">Свежеобжаренный кофе</h1>
        <p class="banner__p">Кофе Калининградской обжарки из разных стран произрастания с доставкой на дом. <br>
            Мы обжариваем кофе <b>каждые выходные</b>.</p>
        <a href="/catalog" class="banner__a">Посмотреть каталог</a>
        <img src="/images/svg/Vector-banner.svg" alt="" class="banner__svg">
        <img src="/images/main/beans1.png" alt="" class="banner__bean">
        <img src="/images/main/coffee-banner.png" alt="" class="banner__cup">
    </div>
    <div class="catalog-body plr" style="height: 800px">
            <h1>Каталоги нашей продукции</h1>
            <div class="catalog__container">
                <div class="catalog__container-item" style="z-index: 2">
                    <img src="/images/main/coffee-stain.png" alt="Coffee" style="width: 250px">
                    <h2>Свежеобжаренный кофе</h2>
                    <a href="/catalog/coffee" class="catalog-item__a">Перейти</a>
                </div>
                <div class="catalog__container-item"  style="z-index: 1">
                    <img src="/images/main/coffee-glass-teapot.png" alt="Tea" style="height: 180px; width: 160px">
                    <h2>Чай и кофейные напитки</h2>
                    <a href="/catalog/tea" class="catalog-item__a">Перейти</a>
                </div>
                <div class="catalog__container-item catalog-item3" style="z-index: 1">
                    <img src="/images/main/porridge.png" alt="Porridge" style="width: 230px;">
                    <h2>Здоровое питание</h2>
                    <a href="/catalog/food" class="catalog-item__a">Перейти</a>
                </div>
            </div>
        <img src="/images/svg/Vector-left.svg" alt="" class="left-svg">
    <!--    <img src="/images/main/coffee-beans.png" alt="" class="left-beans">-->
        <img src="/images/svg/bezueLight.svg" alt="" class="catalog__svg vector">
        </div>
    <div class="why">
        <div class="why__left plr">
            <img src="/images/main/coffee-bean-coffee.png" alt="" class="why__beans">
            <img src="/images/main/coffee.png" alt="" class="why__cup">
        </div>
        <div class="why__right">
            <div class="container_round">
                <div class="round">
                    <img src="/images/svg/cup.svg" alt="" class="round_svg">
                </div>
                <div class="round">
                    <img src="/images/svg/price.svg" alt="" class="round_svg">
                </div>
                <div class="round">
                    <img src="/images/svg/man-like.svg" alt="" class="round_svg">
                </div>
            </div>

            <h1 class="fontB why__header">Почему стоит работать именно с нами?</h1>
            <h3 class="fontB why__caption">Всегда свежая обжарка</h3>
            <p>Подбор степени обжарки под каждый сорт кофе. <br>
                Всегда свежая обжарка.</p>
            <h3 class="fontB why__caption">Лучшие цены на продукцию</h3>
            <p>Благодаря крупным объемам производства мы даем лучшие <br> цены на нашу продукцию.</p>
            <h3 class="fontB why__caption">Консультации 24/7</h3>
            <p>Наши специалисты готовы всегда помочь <br>
                и подсказать вам с выбором кофе или другой продукции.</p>
        </div>
    </div>
    <div class="how plr">
        <img src="/images/svg/bezueLight.svg" alt="" class="how__svg-bottom vector">
        <h1 class="fontB how__header">Как мы обжариваем наш кофе:</h1>
        <p class="fontR">Компания Нью Рефайнинг Груп находится в г. Калининграде и имеет свой склад и представительство в Москве. Завод работает на рынке свежеобжаренного кофе и растворимой продукции более 15 лет. Завод имеет немецкое оборудование марки Probat по обжарке кофе и итальянские агломераторы для производства растворимой продукции.
            <br>
            Кофе поставляется в контейнерах напрямую с плантаций по всему миру. Компания имеет долгосрочные контракты по поставке продукции. Каждая партия проходит строгий контроль на заводе для проверки зерна. Зеленое зерно обжаривается, проходит процесс дегазации и тут же отправляется клиентам. Наши обжарщики прошли обучение в России и за рубежом. У нас свой подход к каждой партии зерна.
            <br>
            Мы раскрываем вкус каждого сорта кофе.</p>
        <img src="/images/svg/bezueWhite.svg" alt="" class="how-svg">
    </div>
    <div class="news plr">
        <h1>Новости компании</h1>
        <div class="news-grid">
            <div class="news-grid_first">
                <div class="news-container long">
                    <img src="/images/main/image5.png" alt="img">
                    <div class="news-long-text">
                        <h3>Танзанийский кофе. Откуда он взялся и почему мы его так любим?</h3> <br>
                        <p>Танзания – красивая африканская страна. Именно здесь расположены легендарные географические объекты – вулкан Килиманджаро и озеро Виктория. <br> <br> Но наш интерес вызван не столько природными красотами, сколько кофе...</p> <br>
                        <a href="" class="news-a">
                            <span style="color: #F9B300;">Подробнее →</span>
                        </a>
                    </div>
                </div>
                <div class="news-container short">
                    <h3>Африканский кофе Кения АА</h3> <br>
                    <p>Кения АА – у этого кофе, из африканской страны, репутация одного из самых вкусных и ярких сортов в мире. Многие обжарщики высоко оценивают местные разновидности высокогорной арабики.</p> <br>
                    <a href="" class="news-a">
                        <span style="color: #F9B300;">Подробнее →</span>
                    </a>
                </div>
            </div>
            <div class="news-grid_second">
                <div class="news-container short">
                    <h3>Африканский кофе Кения АА</h3> <br>
                    <p>Кения АА – у этого кофе, из африканской страны, репутация одного из самых вкусных и ярких сортов в мире. Многие обжарщики высоко оценивают местные разновидности высокогорной арабики.</p> <br>
                    <a href="" class="news-a">
                        <span style="color: #F9B300;">Подробнее →</span>
                    </a>
                </div>
                <div class="news-container long">
                    <img src="/images/main/image5.png" alt="img">
                    <div class="news-long-text">
                        <h3>Танзанийский кофе. Откуда он взялся и почему мы его так любим?</h3> <br>
                        <p>Танзания – красивая африканская страна. Именно здесь расположены легендарные географические объекты – вулкан Килиманджаро и озеро Виктория. <br> <br> Но наш интерес вызван не столько природными красотами, сколько кофе...</p> <br>
                        <a href="" class="news-a">
                            <span style="color: #F9B300;">Подробнее →</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="news__container-svg vector">
            <img src="/images/svg/bezueLight.svg" alt="" class="news__svg vector">
            <div class="news__light"></div>
        </div>

        <div class="vector">
            <img src="/images/main/Vector.svg" alt="vector" class="vector-news vector">
            <div class="vector-news_div vector"></div>
        </div>
        <img src="/images/main/covered-coffee-bean.png" alt="" class="news__bean">
        <img src="/images/main/coffee-banner.png" alt="" class="news__cup">
    </div>
