<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="favicon icon" href="/images/favicon.svg">
    <title>{{title}}</title>
</head>
<body>
    <header class="plr">
        <a href="/">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <form action="" id="mainSearch">
            <input type="text" placeholder="Поиск по товарам" class="header__form-input">
            <img src="/images/svg/found.svg" alt="Search" class="header__form-img">
        </form>
        <div class="menu">
            <a href="/backet" style="text-decoration: none;">
                <img src="/images/svg/basket.svg" alt="basket" class="ml">
            </a>
            <a href="/">
                <img src="/images/svg/man.svg" alt="man" class="ml">
            </a>
        </div>
    </header>
    {{{body}}}
    <footer>
        <img src="/images/main/Vector.svg" alt="vector" class="vector">
        <div class="sec">
            <div class="follow plr">
                <h2 class="fontB">Подписка на новости и рассылку</h3>
                <p style="width: 40%; margin: 1rem 0;">Подпишитесь на нашу рассылку прямо сейчас и будьте в курсе новых поставок, скидок и эксклюзивных предложений.</p>
                <form action="">
                    <input type="email" name="emailFollow" placeholder="Ваш email" id="followInp">
                    <input type="button" value="Подписаться" id="followBtn">
                </form>
                <p class="fontT small" style="margin-top: 12px;">Нажимая на кнопку “Подписаться”, вы принимаете правила <span style="color: #F9B300;">пользовательского соглашения</span></p>
            </div>
            <div class="foot plr">
                <img src="/images/logo.png" alt="Logo" class="logo">
                <div class="links">
                <p class="ml"><a href="">Каталог товаров</a></p>
                <p class="ml"><a href="">Блог</a></p>
                <p class="ml"><a href="">Контакты</a></p>
            </div>
            </div>
        </div>
    </footer>
</body>
</html>