<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="favicon icon" href="/images/favicon.svg">
    <title>{{title}}</title>
</head>
<body>
    <header class="plr">
        <a href="/">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <form action="" id="mainSearch">
            <input type="text" placeholder="Поиск по товарам" class="header__form-input">
            <img src="/images/svg/found.svg" alt="Search" class="header__form-img">
        </form>
        <div class="menu">
            <a href="/backet" style="text-decoration: none;">
                <img src="/images/svg/basket.svg" alt="basket" class="ml">
            </a>
            <img src="/images/svg/man.svg" alt="man" class="ml" onclick="adminPopUp()" style="cursor: pointer;">
        </div>
    </header>
    {{{body}}}
    <footer>
        <img src="/images/main/Vector.svg" alt="vector" class="vector">
        <div class="sec">
            <div class="follow plr">
                <h2 class="fontB">Подписка на новости и рассылку</h2>
                <p style="width: 40%; margin: 1rem 0;">Подпишитесь на нашу рассылку прямо сейчас и будьте в курсе новых поставок, скидок и эксклюзивных предложений.</p>
                <form action="">
                    <input type="email" name="emailFollow" placeholder="Ваш email" id="followInp">
                    <input type="button" value="Подписаться" id="followBtn">
                </form>
                <p class="fontT small" style="margin-top: 12px;">Нажимая на кнопку “Подписаться”, вы принимаете правила <span style="color: #F9B300;">пользовательского соглашения</span></p>
            </div>
            <div class="foot plr">
                <a href="/">
                    <img src="/images/logo.png" alt="Logo" class="logo">
                </a>
                <div class="links">
                <p class="ml"><a href="">Каталог товаров</a></p>
                <p class="ml"><a href="">Блог</a></p>
                <p class="ml"><a href="">Контакты</a></p>
            </div>
            </div>
        </div>
    </footer>
    <script>
        const adminPopUp = (e) => {
            let popUpBox = document.createElement('div');
            popUpBox.innerHTML = `
            <div class="vhod">
                <p id="close">✕</p>
                <a href="/">
                    <img src="/images/logo.png" alt="Logo" class="logo">
                </a>
                <h3 class="fontB" style="margin: 10px;">Войти в админку</h3>
                <form action="/admin" id='workshit'>
                    <input type="text" name="loginAdmin" placeholder="Введите login" id="adminLoginInp">
                    <input type="password" name="passwordAdmin" placeholder="Введите пароль" id="adminPwdInp">
                    <p class='small red dspn' id='notCorrect'>Логин или пароль неверен</p>
                    <input type="submit" value="Войти" id="goBtn">
                </form>
            </div>`;
            popUpBox.classList.add('popup');
            document.body.appendChild(popUpBox);
            document.body.classList.add('hidden');
            let close = document.querySelector('#close');
            close.addEventListener('click', (e) => {
                popUpBox.remove();
                document.body.classList.remove('hidden');
            });

            document.getElementById('workshit').addEventListener('submit', (e) => {
                e.preventDefault();
                document.getElementById('notCorrect').classList.add('dspn');
                let login = document.getElementById('adminLoginInp');
                let pwd = document.getElementById('adminPwdInp');
                console.log(pwd.value, login.value)
                if (login.value == 'admin' && pwd.value.toString() == '10102020') {
                    e.target.submit();
                } else {
                    auth = false;
                    document.getElementById('notCorrect').classList.remove('dspn');
                }
            });
        }
    </script>
</body>
</html>