<ul class="breadcrumb">
    <li><a href="/" class="small">Главная</a></li>
    <li><a href="/catalog" class="small">Каталог</a></li>
    <li><a href="/catalog/{{cat}}" class="current small">{{title}}</a></li>
 </ul>
<h1>{{title}}</h1>
<h2>kjbvkjwrbdkjwdb</h2>